@model LaClinica.Presentacion.Models.LlamadaViewModel

@{
    var fecha = DateTime.Now.ToString("dd/MM/yyyy");
    var hora = ViewBag.hora;
}

<div class="row">
    <div class= "col-auto"> 
        <form asp-controller="Llamadas" asp-action= "Create"> </form>
        <div class= "form-group"> 
            <label class="control-label"> DNI </label>                 
            <input class="form-control" /> 
        </div>
        <div class= "form-group"> 
            <label class="control-label"> Nombre </label>                 
            <input class="form-control" /> 
        </div>
        <div class="form-group">                 
            <label class="control-label"> Apellido </label>                 
            <input class="form-control" /> 
        </div>
    </div>
    <div class= "col-auto">
        <div class="form-group">             
        <label class="control-label" id="fecha">@fecha</label>   
        </div>
        <div class="form-group">             
        <label class="control-label">@hora</label>                 
        </div>
    </div>
</div>

<hr/>
